.adjustNumber {
  color: var(--color-overlay-text);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-3xl);
  gap: var(--grid-gutter);
  width: 120px;
}

.field {
  background-color: var(--color-deco-500);
  border-radius: var(--rad-card-outer);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
}

.input {
  background-color: transparent;
  border-radius: var(--rad-card-inner);
  border: var(--border-width) solid transparent;
  margin: var(--margin-sm) 0;
  padding: var(--padding-card) 0;
  text-align: center;
}

.input:focus {
  border-color: var(--color-overlay-text);
  color: var(--color-overlay-text);
  outline: none;
}

.upButton,
.downButton {
  align-items: center;
  background-color: transparent;
  border-radius: var(--rad-card-inner);
  border: var(--border-width) solid var(--color-border);
  color: var(--color-text);
  display: flex;
  font-size: 27px;
  height: var(--height-button);
  justify-content: center;
}

.unit {
  text-align: center;
}
