.restQueue {
  align-items: center;
  background-color: var(--color-deco-700);
  border-radius: var(--rad-card-outer);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-md);
}

.field {
  font-weight: bold;
  margin-left: auto;
  text-align: right;
}
