.dashboardLayout {
  padding: var(--grid-space-4) var(--grid-margin) var(--grid-space-6);
}

.title {
  font-size: var(--fs-h2);
  font-weight: bold;
  line-height: var(--lh-h2);
}

.day {
  margin-top: var(--grid-space-4);
}

.dayTitle {
  align-items: center;
  border-radius: var(--rad-card);
  border: var(--outline-width) solid currentColor;
  color: var(--color-deco-500);
  display: flex;
  font-weight: bold;
  height: 50px;
  margin: var(--grid-space-1) 0;
  padding: 0 var(--grid-space-2);
}

.plans {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gutter);
}

.plan {
  flex: 1;
}
