.dashboardLayout {
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding: var(--padding-page-top) var(--grid-margin) var(--padding-page-bottom);
}

.title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  line-height: var(--lh-h1);
  margin-bottom: var(--margin-h1-bottom);
}

.day {
  margin-top: var(--margin-section);
}

.dayTitle {
  align-items: center;
  border-color: currentColor;
  color: var(--color-deco-500);
  display: flex;
  font-weight: bold;
  margin-block: var(--margin-card);
}

.plans {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gutter);
}
