.planCard {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--grid-space-1);
  position: relative;
}

.title,
.time {
  align-items: center;
  border-radius: var(--rad-card);
  border: var(--outline-width) solid var(--color-outline);
  display: flex;
  font-weight: bold;
  height: calc(9 * var(--grid-space-1));
  padding: 0 var(--grid-space-2);
}

.title {
  background-color: var(--color-deco-300);
  flex: 1;
}

.hot {
  align-items: center;
  display: flex;
  width: 100%;
}

.hot::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.goIcon {
  font-size: 20px;
  margin-left: auto;
}

.time {
  border-color: currentColor;
  color: var(--color-deco-500);
  flex: 0 0 var(--grid-span-2);
}
