.planCard {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--grid-gutter);
  position: relative;
}

.title {
  align-items: center;
  display: flex;
  font-weight: bold;
}

.title {
  background-color: var(--color-deco-500);
  flex: 1;
}

.hot {
  align-items: center;
  display: flex;
  width: 100%;
}

.hot::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.goIcon {
  font-size: 20px;
  margin-left: auto;
}

.meta {
  border-color: currentColor;
  color: var(--color-deco-500);
  flex: 0 0 var(--grid-span-3);
  display: flex;
  gap: var(--grid-gutter);
}
