.button {
  background-color: var(--color-button-background);
  border-radius: var(--rad-button);
  color: var(--color-button-text);
  font-weight: bold;
  height: var(--height-button);
  padding-inline: var(--padding-button);
  text-decoration: none;
}
