.button {
  background: var(--color-button-background);
  border-radius: var(--rad-button);
  color: var(--color-button-text);
  font-weight: bold;
  height: 50px;
  padding: 0 var(--grid-space-4);
  text-decoration: none;
}
