.planHeader {
  background-color: var(--color-background);
  border-bottom: var(--border-width) dashed var(--color-border);
  display: flex;
  padding-block: var(--padding-lg) var(--padding-md);
}

.meta {
  margin-left: var(--margin-md);
}

.title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-h2);
  line-height: var(--lh-h2);
}

.startButton {
  margin-left: auto;
}
