.taskExecute {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  line-height: var(--lh-h1);
  text-align: center;
}

.description {
  margin-top: var(--margin-sm);
}

.fields {
  display: flex;
  gap: var(--grid-gutter);
  justify-content: center;
  margin: var(--margin-group) var(--margin-sm);
  position: relative;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  justify-content: flex-end;
  max-width: var(--grid-span-3);
  position: relative;
}

.fieldValue {
  font-size: var(--fs-h4);
  font-weight: var(--fw-h4);
  line-height: var(--lh-h4);
}

.fieldEdit {
  bottom: calc(-1 * var(--margin-sm));
  position: absolute;
  right: calc(-1 * var(--margin-sm));
  z-index: 1;
}

.setBadge {
  position: absolute;
  right: calc(-1 * var(--margin-md));
  top: calc(-1 * var(--margin-md));
  z-index: 1;
}

.endFieldsTitle {
  color: var(--color-text-secondary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-h2);
  line-height: var(--lh-h2);
  margin-bottom: var(--margin-h2-bottom);
  margin-top: var(--margin-section);
  text-align: center;
}

.endFields {
  display: flex;
  flex-direction: column;
  gap: var(--margin-group);
  width: 100%;
}

.endFieldKey {
  font-size: var(--fs-h4);
  font-weight: var(--fw-h4);
  line-height: var(--lh-h4);
}

.timer,
.continueButton {
  margin-top: var(--margin-section);
}
