.timer {
  align-items: center;
  display: flex;
}

.value {
  font-size: var(--fs-6xl);
  line-height: var(--lh-6xl);
  margin-right: var(--margin-md);
}

.buttons {
  display: flex;
  gap: var(--grid-gutter);
}
