.planLayout {
  column-gap: var(--grid-gutter);
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding: 0 var(--grid-margin) var(--padding-page-bottom);
}

.header {
  grid-column: 1 / -1;
  margin-inline: calc(0px - var(--grid-margin));
  padding-inline: var(--grid-margin);
  position: sticky;
  top: 0;
  z-index: var(--z-header);
}

.items {
  grid-column: 1 / -1;
  margin-top: var(--padding-page-top);
}

.item {
  margin-bottom: var(--margin-card);
}

.item.rest {
  margin-bottom: var(--margin-group);
}

.item.set0:not(:first-child),
.item.set1:not(:first-child) {
  margin-top: var(--margin-section);
}
