.numberSlider {
  display: flex;
  flex-direction: column;
}

.sliderOuter {
  display: flex;
  flex-direction: column;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-border);
  border-radius: 3px;
  height: 6px;
  margin: 15px 0;
  outline: none;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-primary);
  border-radius: 50%;
  border: 2px solid var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.slider::-moz-range-thumb {
  background: var(--color-primary);
  border-radius: 50%;
  border: 2px solid var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.metaOuter {
  display: flex;
  justify-content: space-between;
}

.label {
  text-align: right;
}
