.executeLayout {
  --color-background: var(--color-deco-500);
  --color-button-text: var(--color-deco-500);
  --color-icon-button-background: var(--color-deco-500);

  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: var(--grid-space-4);
  padding-inline: var(--grid-margin);
}

.header {
  margin-inline: calc(0px - var(--grid-margin));
  padding-inline: var(--grid-margin);
}

.progressBar {
  background-color: var(--color-deco-700);
  border-radius: var(--rad-pill);
  height: 14px;
  margin-bottom: calc(10 * var(--grid-space-1));
  overflow: hidden;
}

.progressBarInner {
  background-color: var(--color-primary);
  border-radius: var(--rad-pill);
  height: 100%;
  transition: width 0.3s ease;
}

.queue {
  grid-column: 1 / -1;
  margin-top: auto;
}

.queueTitle {
  font-size: var(--font-size-large);
  font-weight: bold;
  line-height: var(--lh-large);
}

.queueItems {
  display: flex;
  flex-direction: column;
  gap: var(--grid-space-1);
  margin-top: var(--grid-space-2);
}

.complete {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: calc(10 * var(--grid-space-1));
}

.completeIcon {
  font-size: 90px;
}

.completeTitle {
  font-size: var(--fs-h2);
  margin-top: var(--grid-space-2);
}

.completeButton {
  margin-top: var(--grid-space-4);
}
