.executeLayout {
  --color-background: var(--color-deco-500);
  --color-button-text: var(--color-deco-500);
  --color-icon-button-background: var(--color-deco-500);

  background-color: var(--color-background);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-inline: auto;
  max-width: var(--grid-max-width);
  overflow: hidden;
  padding-inline: var(--grid-margin);
  position: fixed;
  right: 0;
  top: 0;
}

.header {
  border: none;
}

.progressBar {
  background-color: var(--color-deco-700);
  border-radius: var(--rad-bar);
  height: var(--height-bar);
  margin-bottom: var(--margin-section);
  overflow: hidden;
}

.progressBarInner {
  background-color: var(--color-primary);
  border-radius: var(--rad-bar);
  height: 100%;
  transition: width 0.3s ease;
}

.complete {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completeIcon {
  font-size: 90px;
  margin-bottom: var(--margin-sm);
}

.completeTitle {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  line-height: var(--lh-h1);
  margin-bottom: var(--margin-h1-bottom);
}

.queue {
  bottom: var(--padding-screen-bottom);
  left: 0;
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-margin);
  position: fixed;
  right: 0;
}

.queueTitle {
  font-size: var(--fs-h4);
  font-weight: var(--fw-h4);
  line-height: var(--lh-h4);
  margin-bottom: var(--margin-h4-bottom);
}

.queueItems {
  display: flex;
  flex-direction: column;
  gap: var(--margin-card);
}
