.overlay {
  align-items: center;
  background-color: var(--color-overlay-background);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-overlay);
}

.closeButton {
  --color-icon-button-text: var(--color-overlay-text);
  --color-icon-button-background: transparent;
  --color-icon-button-border: currentColor;

  bottom: var(--padding-screen-bottom);
  position: absolute;
}
