.taskCard {
  position: relative;
}

.title {
  font-size: var(--fs-h4);
  font-weight: bold;
  line-height: var(--lh-h4);
  margin-bottom: var(--grid-space-2);
}

.fields {
  display: flex;
  gap: var(--grid-gutter);
}

.field {
  background: var(--color-deco-500);
  border-radius: var(--rad-card);
  border: var(--outline-width) solid var(--color-outline);
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  height: calc(12 * var(--grid-space-1));
  justify-content: flex-end;
  padding: var(--grid-space-1);
  position: relative;
}

.fieldValue {
  font-size: var(--fs-h5);
  font-weight: bold;
  line-height: var(--lh-h5);
}

.field.time {
  background: var(--color-background);
  flex: 0 0 var(--grid-span-2);
}

.fieldEdit {
  bottom: -6px;
  position: absolute;
  right: -6px;
}

.set {
  align-items: center;
  background-color: var(--color-deco-700);
  border-radius: var(--rad-circle);
  border: var(--outline-width) solid var(--color-outline);
  bottom: 59px;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  line-height: 1;
  position: absolute;
  right: -5px;
  width: 50px;
  z-index: 2;
}

.setLabel {
  font-size: var(--fs-xs);
  line-height: 1;
}

.setNumber {
  font-size: var(--fs-lg);
  font-weight: bold;
  line-height: 1.1;
}
