.iconButton {
  align-items: center;
  background-color: var(--color-icon-button-background);
  border-radius: var(--rad-icon-button);
  border: var(--border-width) dashed var(--color-icon-button-border);
  color: var(--color-icon-button-text);
  display: flex;
  font-size: 19px;
  height: var(--height-icon-button);
  justify-content: center;
  width: var(--height-icon-button);
}
