.restExecute {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  line-height: var(--lh-h1);
  text-align: center;
}

.description {
  margin-top: var(--margin-sm);
}

.timer {
  margin-top: var(--margin-sm);
}
