.taskqueue {
  align-items: center;
  background-color: var(--color-deco-700);
  border-radius: var(--rad-card);
  display: flex;
  height: 50px;
  padding: 0 var(--grid-space-2);
}

.title {
  margin-right: auto;
}

.field,
.set {
  font-weight: bold;
}

.field {
  flex: 0 0 calc(var(--grid-space-1) * 10);
  text-align: right;
}
