.taskqueue {
  align-items: center;
  background-color: var(--color-deco-700);
  border-radius: var(--rad-card-outer);
  display: flex;
  padding: var(--padding-md);
}

.title {
  margin-right: auto;
}

.field,
.set {
  font-weight: bold;
}

.field {
  flex: 0 0 var(--grid-span-2);
  text-align: right;
}
